<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
        <link rel="stylesheet" href="{% static 'bemteouvi/css/base.css' %}">
    {% endblock %}
    <link rel="icon" href="{% static 'bemteouvi/img/bird.png'%}" type="image/png" />

    <title>
        {% block titulo %}
            bem-te-ouvi
        {% endblock %}
    </title>
</head>

<body>
    <header>
        <div class="barra-superior">  
            <div class="logo-container">
                <a href="{% url 'index'%}">
                    <img src="{% static 'bemteouvi/img/Logo1.png' %}" alt="Bem-Te-Ouvi" class="bem-te-ouvi">
                </a>
            </div>

            <form class="search-container" method="get" action="{% url 'buscar' %}">
                <input 
                    type="text" 
                    name="q" 
                    class="input-search-container" 
                    placeholder="Buscar artista, música ou usuário..." 
                    required 
                />
                <button type="submit" class="search-icon-button">
                    <img src="{% static 'bemteouvi/img/lupa.png' %}" alt="Buscar" />
                </button>
            </form>

            <nav class="menu-direito">
                <a href="{% url 'playlist'%}" class="menu-link">Favoritos</a>
                <a href="{% url 'criarMusica'%}" class="menu-link">Publicar</a>
                <a href="{% url 'criarEvento'%}" class="menu-link">Eventos</a>
                <a href="{% url 'perfilUsuario'%}" class="perfil-imagem">
                    <img src="{% static 'bemteouvi/img/profile-icon.png' %}" alt="Ícone de perfil" id="profile-icon">
                </a>
            </nav> 
        </div>
    </header>

    {% block conteudo %}
        <!-- conteúdo de cada página -->
    {% endblock %}

    {% block js %}
        <!-- caso seja adicionado um js no base.html TODAS AS PAGINAS deverão ter no block js o = {{ block.super }}, assim como tem no css. -->
        <!-- <script src=""></script> -->
    {% endblock %}

</body>

</html>