/* Seções */
section h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 6vh;
}

/* cards */
.card {
  width: 300px;
  background: linear-gradient(135deg, #101c25, #4a7697);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  transition: transform 0.3s ease;
  margin: 1vh 2vh 1vh 0vh;
  flex: 0 0 auto;
  scroll-snap-align: start;
  /* border: 10px solid red; */
}

.card:hover {
  /* transform: translateY(-10px); */
  border-bottom-left-radius: 0px;
  border-left: 5px solid #65b7db;
  border-bottom: 5px solid #65b7db;
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  gap: 10px;
}

.text {
  flex-grow: 1;
}

.text h3 {
  margin-top: -10px;
  font-size: 1.1rem;
  color: white;
}

.text p {
  margin-top: -10 px;
  font-size: 0.95rem;
  color: #ccc;
}

.icons {
  margin-top: 8px;
  display: flex;
  gap: 10px;
}

.icons img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s;
}

.icons a:hover img {
  transform: scale(1.2);
}

.play-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  align-self: center;
}

.play-button img {
  width: 50px;
  height: 50px;
}

.play-button:hover img {
  transform: scale(1.1);
}

/* carrosel */
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 1vh 1vh;
  gap: 2vh;
  margin-left: 6vh;
  cursor: grab;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-container {
  position: relative;
  padding: 1vh 6vh;
  overflow: hidden;
}

.carousel.dragging {
  user-select: none;
  cursor: grabbing;
}