* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  
}
body {
  background: linear-gradient(135deg, #0d1b2a, #1b263b, #2e2e54);
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(135deg, #0d1b2a, #1b263b, #2e2e54);
}
header img.logo {
  width: 5vw;
}
nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.search-container {
  position: relative;
  margin: 0.1rem auto;
  width: 60vh;
}
input:hover{
  outline: 1px solid white !important;
}
.search-container input {
  color: white;
  width: 100%;
  border: none;
  outline: 1px solid rgba(219, 219, 219, 0.826);
  margin-top: 0.1rem;
  padding: 0.5rem 0.4rem; /* padding horizontal mais equilibrado */
  border-radius: 2rem;
  font-size: 1rem;
  box-sizing: border-box;
  text-align: left; /* garante alinhamento do texto/placeholder */
  background-color: rgba(112, 112, 112, 0.010);
  transition: all 450ms ease-in-out;
}
.search-container input:focus-within {
  outline: 1px solid #5ac8fa;
  background-color: rgba(90, 199, 250, 0.036); /* cor ao focar */ 
  /* background: linear-gradient(135deg, transparent, #a6c4e52d); */
}


  /* Placeholder personalizado (opcional) */
.search-container input::placeholder {
  color: #51515170;
  text-align: left;
}

.search-icon-img {
  position: absolute;
  top: 25%;
  height: 29px;
  pointer-events: none;
}

.search-container {
  width: 40%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
.search-container input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
}
.search-icon-img {
  position: absolute;
  top: 25%;
  right: 0.5rem;
  height: 29px;
  pointer-events: none;
}



.liked-section {
  padding: 2rem;
}
.liked-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.music-list {
  list-style: none;
  max-width: 75rem;      /* Define uma largura máxima */
  margin: 0 auto;        /* Centraliza horizontalmente */
  padding: 0 1rem;       /* Espaço lateral interno */
}
.music-item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.music-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1rem;
}
.music-info {
  display: flex;
  flex-direction: column;
}
.music-info strong {
  font-size: 1rem;
}
.music-info span {
  font-size: 0.85rem;
  color: #ccc;
}
.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}