body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, #0d1b2a, #1b263b, #2e2e54);
  background-attachment: fixed
}

main {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  padding-bottom: 70px;
  margin-left: -4vh;
}

/* nav */
header {
  width: 40vh;
  background-color: #1b263b;
  border: 2px solid black;
  height: 100vh;
  box-sizing: border-box;
}

header h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 4vh;
}

#nav-principal {
  margin-top: -10vh;
  list-style-type: none;
}

#nav-principal>img {
  margin-left: 1vh;
}

#nav-principal h1 {
  margin-top: 1vh;
}

#nav-principal>li>a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vh;
  text-decoration: none;
}

#playlists {
  list-style-type: none;
}

#playlists>li>a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.topo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  color: #f0f0f0;
  margin-top: 1vh;
}

.topo a {
  margin: 0 10px;
  text-decoration: none;
  color: #f0f0f0;
}

.profile-icon {
  position: absolute;
  top: 1.5vh;
  right: 1vh;
}

.profile-icon img {
  width: 6vh;
  height: 6vh;
  margin-top: -2vh;
}

.separator {
  border: none;
  border-top: 2px solid black;
  /* linha cinza clara */
  margin: 1em 0;
  width: 31vh;
  opacity: 0.5;
}


/* Seções */

section h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 6vh;
}

/* parte de pesquisa */
.search-container {
  position: relative;
  width: 50vh;
  margin-left: 53vh;
}

.search-container input {
  border: 0px;
}

.search-container input[type="text"] {
  background: linear-gradient(135deg, #5c6d7f, #a6c4e5);
  width: 100%;
  padding: 12px 50px 12px 50px;
  border-radius: 30px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.search-container input[type="text"]:focus {
  border-color: #4a90e2;
}

.search-container .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1rem;
  pointer-events: none;
}

.search-icon-img {
  position: absolute;
  top: 25%;
  right: -80px;
  height: 29px;
  pointer-events: none;
}

/* barra de progesso da música */
.progress-bar {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 999;
}

.progress-bar>div>img {
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  width: 7vh;
  height: 7vh;
}

.music-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.music-details img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}

.text-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.text-info h3 {
  margin: 0;
  font-size: 1rem;
}

.text-info p {
  margin: 0;
  font-size: 0.85rem;
  color: #ccc;
}

.player-control {
  display: flex;
  align-items: center;
  gap: 1vh;
}

.player-control img {
  width: 3.5vh !important;
  height: 3.5vh !important;
  display: flex;
  object-fit: contain;
  padding: 0;
  margin: 0;
  display: block;
}

.favorite-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.favorite-button img {
  width: 30px;
  height: 30px;
  transition: filter 0.3s;
}

.favorite-button.active img {
  filter: brightness(0) saturate(100%) invert(14%) sepia(92%) saturate(5362%) hue-rotate(356deg) brightness(98%) contrast(112%);
}

/* cards */
.card {
  width: 300px;
  background: linear-gradient(135deg, #101c25, #4a7697);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  transition: transform 0.3s ease;
  margin: 1vh 2vh 1vh 0vh;
  flex: 0 0 auto;
  scroll-snap-align: start;
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  gap: 10px;
}

.text {
  flex-grow: 1;
}

.text h3 {
  margin-top: -10px;
  font-size: 1.1rem;
  color: white;
}

.text p {
  margin-top: -10 px;
  font-size: 0.95rem;
  color: #ccc;
}

.icons {
  margin-top: 8px;
  display: flex;
  gap: 10px;
}

.icons img {
  width: 20px;
  height: 20px;
  transition: transform 0.2s;
}

.icons a:hover img {
  transform: scale(1.2);
}

.play-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  align-self: center;
}

.play-button img {
  width: 50px;
  height: 50px;
}

/* carrosel */
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 1vh 1vh;
  gap: 2vh;
  margin-left: 6vh;
  cursor: grab;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-container {
  position: relative;
  padding: 1vh 6vh;
  overflow: hidden;
}

.carousel.dragging {
  user-select: none;
  cursor: grabbing;
}