{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'bemteouvi/css/criarEvento.css'%}">
  {{block.super}}
{% endblock %}

{% block titulo %}
  bem-te-ouvi - criar evento
{% endblock %}

{% block conteudo %}
  <main>
    <section class="banner">
      <div class="profile">
        <img src="{% static 'bemteouvi/img/perfil.png'%}" alt="Foto de perfil">
        <div class="profile-info">
          <h2>Wagner Alves</h2>
        </div>
      </div>
      <div class="social-icons">
        <img src="{% static 'bemteouvi/img/twitter.png'%}" alt="X">
        <img src="{% static 'bemteouvi/img/instagram.png'%}" alt="Instagram">
        <img src="{% static 'bemteouvi/img/facebook.png'%}" alt="Facebook">
      </div>
    </section>

    <section class="event-section">
      <h3>🎉 Próximos eventos</h3>
      <div class="event-cards">
        <div class="event-card">
          <strong>Nome do evento</strong>
          <p>👥 Local: Rastapé</p>
          <p>📅 1 de junho de 2025, 18:00</p>
        </div>
        <div class="event-card">
          <strong>Nome do evento</strong>
          <p>👥 Local: Rastapé</p>
          <p>📅 1 de junho de 2025, 18:00</p>
        </div>
        <div class="event-card">
          <strong>Nome do evento</strong>
          <p>👥 Local: Rastapé</p>
          <p>📅 1 de junho de 2025, 18:00</p>
        </div>
        <div class="event-card">
          <strong>Nome do evento</strong>
          <p>👥 Local: Rastapé</p>
          <p>📅 1 de junho de 2025, 18:00</p>
        </div>
      </div>
      <a href="{% url 'criarEvento' %}" class="add-event">+ Adicionar evento</a>
    </section>
  </main>
{% endblock %}

<!-- {% block js %}

{% endblock %} -->