{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'bemteouvi/css/principal.css'%}">
    {{block.super}}
{% endblock %}


{% block titulo %}
    bem-te-ouvi
{% endblock %}


{% block conteudo %}
    <main>
        <section>
            <h2>Continuar ouvindo</h2>

            <div class="carousel">
                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>O Rappa</h3>
                            <p>Súplica cearense</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>O Rappa</h3>
                            <p>Súplica cearense</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>O Rappa</h3>
                            <p>Súplica cearense</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>O Rappa</h3>
                            <p>Súplica cearense</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>O Rappa</h3>
                            <p>Súplica cearense</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>

                    </div>
                </div>

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>O Rappa</h3>
                            <p>Súplica cearense</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>
            </div>

        </section>

        <section>
            <h2>Acabou de chegar!</h2>

            <div class="carousel">

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>Banda 2</h3>
                            <p>Teste 2</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>Banda 2</h3>
                            <p>Teste 2</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>Banda 2</h3>
                            <p>Teste 2</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>Banda 2</h3>
                            <p>Teste 2</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>Banda 2</h3>
                            <p>Teste 2</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>

                    </div>
                </div>

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>Banda 2</h3>
                            <p>Teste 2</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>

            </div>

        </section>

        <section>
            <h2>Experimente algo diferente</h2>

            <div class="carousel">

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>Banda 3</h3>
                            <p>Teste 3</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>Banda 3</h3>
                            <p>Teste 3</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>Banda 3</h3>
                            <p>Teste 3</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>Banda 3</h3>
                            <p>Teste 3</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>Banda 3</h3>
                            <p>Teste 3</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>

                    </div>
                </div>

                <div class="card">
                    <img src="../../static/bemteouvi/img/image1.png" alt="Capa da música" class="card-image">

                    <div class="card-content">
                        <div class="text">
                            <h3>Banda 3</h3>
                            <p>Teste 3</p>

                            <div class="icons">
                                <a href="#"><img src="../../static/bemteouvi/img/instagram.png" alt="Instagram"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/facebook.png" alt="Facebook"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/confetti.png" alt="Confetti"></a>
                                <a href="#"><img src="../../static/bemteouvi/img/copyright.png" alt="Copyright"></a>
                            </div>
                        </div>

                        <button class="play-button">
                            <img src="../../static/bemteouvi/img/play.png" alt="Play">
                        </button>
                    </div>
                </div>

            </div>

        </section>


    </main>
{% endblock %}


{% block js %}
    <script src="{% static 'bemteouvi/js/index.js'%}"></script>
{% endblock %}